*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', san-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #5a5a5a
}
img{
    cursor:pointer
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding: 9px 0%;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background:  #fff;
    position: static;
    top: 0;
    z-index: 10;

}
.nav-right img{

    margin-right: 0px;

}
.nav-right .purple-banner{

    position: absolute;
    right: 0px;
    justify-content: space-around;
    z-index: 1;

}
/* .nav-right .purple-banner img {
    width: 100%

    /* position: absolute;
    right: 0px;
    /* justify-content: space-around; */
    /* z-index: 1;
}*/


.nav-right .purple-logo{
    position: relative;
    z-index: 2;
}
.nav-left .logo{

}

/* Arrows */
.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding:3px

}
/* ABOUT TAG Drop down menue for the tags on the main paint */
.drop-down-menu{
    margin-top: 40px;
    padding: 20px;
    position: relative;
    display: inline-block;
    z-index: 3;
    /* color : #FFFFFF */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
}

.drop-down-menu:hover .dropdown-content {
    display: block;

}

/* TO LET Drop down menue for the tags on the main paint */
.drop-down-menu2 {
    margin-top: 40px;
    padding: 20px;
    position: relative;
    display: inline-block;
    z-index: 3;
}

.drop-down-menu2:hover .dropdown-content2 {
    display: block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 3;
}
.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* BUY Drop down menue for the tags on the main paint */
.drop-down-menu3 {
    margin-top: 40px;
    padding: 20px;
    position: relative;
    display: inline-block;
    z-index: 3;

}

.drop-down-menu3:hover .dropdown-content3 {
    display: block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
}
/* PROMOTIONS Drop down menue for the tags on the main paint */
.drop-down-menu4 {
    margin-top: 40px;
    padding: 20px;
    position: relative;
    display: inline-block;
    z-index: 3;

}
/* TENANTS Drop down menue for the tags on the main paint */
.drop-down-menu5 {
    margin-top: 40px;
    padding: 20px;
    position: relative;
    display: inline-block;
    z-index: 3;

}

.drop-down-menu5:hover .dropdown-content5 {
    display: block;
}

.dropdown-content5 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
}
/* BENEFITS Drop down menue for the tags on the main paint */
.drop-down-menu6 {
    margin-top: 40px;
    padding: 20px;
    position: relative;
    display: inline-block;
    z-index: 3;

}

.drop-down-menu6:hover .dropdown-content6 {
    display: block;
}

.dropdown-content6 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;

}
/* CONTACT Drop down menue for the tags on the main paint */
.drop-down-menu7 {
    margin-top: 40px;
    padding: 20px;
    position: relative;
    display: inline-block;
    z-index: 3;

}

/* Enhance your lifesyle text */
.enhance-your-lifestyle{
    position: absolute;
    font-family: 'poppins', san-serif;
    color: #fcb900;
    z-index: 2;
    margin-bottom: 30px;
}

.boxed {
    box-sizing: content-box;
    width: 80%;
    background-color: rgb(107,0,62);
    position: absolute;
    top: 300px;
    margin: 0;
    height: 80px;

}
.boxed h1{
    text-align: left;
    font-size: 40px;
    margin-top: 15px;
    margin-left: 10px;
    color: white;

}
.container {
    background: #f9f9f9;
    padding-left:0;
    padding-right: 2%;
    padding-top: 0px;
    padding-bottom: 20px;
}
.banner{
    width: 100%
}
.banner img{
    width: 100px;

}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top:15px;
}
.vid-list .thumbnail{
    position: relative;
    float:left;
    width: 10%;
    margin-top:30%;

}
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 20px;

}
